<h1>Hospital</h1>
<div class="container">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
</div>
<!-- <app-patient></app-patient> -->
<!-- <form #employeeForm="ngForm" (submit)="onEmployeeSubmit(employeeForm)">
  <label>Name: </label> 
  <input type="text" name = "name" ngModel #name="ngModel" > <br /><br />
  <label>City: </label> 
  <input type="text" name = "city" ngModel #city="ngModel"> <br /><br />
  <label>Salary: </label> 
  <input type="text" name="salary" ngModel #salary="ngModel"> <br /><br />
  <label>Employee Start Date: </label> 
  <input type="date" name="startDate" ngModel #startDate="ngModel"> <br /><br />
  <label>Employee Start Time: </label> 
  <input type="time" name="startTime" ngModel #startTime="ngModel"> <br /><br />
  <input type="submit" value="Add Employee">
</form>

<div class="employee_box"
*ngFor="let e of empArr">
{{e.id}}<br>
{{e.name}}<br>
{{e.city}}<br> 
{{e.salary}}<br>
<button (click)="deleteEmployee(e.id)">Delete</button><br>
</div> <br>

<div class="employee_box"
    *ngFor="let s of studentArr">
    {{s.id}} <br>
    {{s.name}}<br>
    {{s.email}}<br>
    Address: {{s.address.houseno}}, {{s.address.city}}, {{s.address.pincode}}<br>
    
</div> -->


<!-- <div class="employee_box"
  *ngFor="let e of employeeArr">
  {{e.id}}<br>
  {{e.name}}<br>
  {{e.city}}<br>
  {{e.salary}}<br>

</div> -->





<!-- <div>
  <h3>Cities</h3>
  <ol>
    <li *ngFor="let c of cities">
      {{c}}
    </li>
  </ol>
</div>
<hr>
<div>
  <h3>Values</h3>
  <ul>
  <li *ngFor="let v of values">
    {{v}}
  </li>
</ul>
</div> -->

  <!-- <button (click)="toggleContact()">Show/Hide contact</button>

  <div *ngIf="status">
    31/5 Rakesh L, Vinayakanagar 14th ward, 
    Tumkur - 572101
  </div> -->
<!-- <div>
x={{x}} <br />
y={{y}} <br />
</div>
<hr />
<div>
  <button (click)="add()">ADD</button>
  <button (click)="sub()">SUB</button>
  <button (click)="mul()">MUL</button>
  <button (click)="div()">DIV</button>

</div>
<div>

  Ans is: {{ans}}
</div> -->

